@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css');

.container {
  margin-top: 2rem;
}

ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

li{
  padding: 10px;
  cursor: pointer;
}

li.is-active{
  color: blue;
}